body {
  background: #fcd283;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.love-container {
  font-size: 5rem;
  color: #5f27cd;
  font-weight: bold;
}

#o {
  color: red;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#o:hover {
  transform: scale(1.2);
}
